@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy/Gilroy-Light.otf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy/Gilroy-ExtraBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Thin.ttf") format("truetype");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-ThinItalic.ttf") format("truetype");
  font-weight: 250;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter Tight";
  src: url("./InterTight/InterTight-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
