.sidebar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 340px;
  height: 100%;
  background: #f4f6f9;
  animation: sidebarExpand 0.3s ease-in-out forwards;

  &-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 340px;
    height: 100%;
    border-right: 1px solid #d4d9e4;
    padding: 40px;
    background: #f4f6f9;

    &-closed {
      pointer-events: none;
      animation: fadeOut 0.2s ease-in-out forwards;
    }
  }

  &-dropdown {
    position: absolute;
    right: -20px;
    top: 82px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d4d9e4;
    padding: 8px;
    gap: 12px;
    background: #f4f6f9;

    &-closed {
      right: -40px;
      transform: rotateY(180deg);
    }
  }

  &-closed {
    animation: sidebarCollapse 0.3s ease-in-out 0.3s forwards;
  }
}

.header {
  display: flex;
  gap: 16px;

  &-name {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
  }

  &-add {
    font-family: "Inter Tight";
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #006bff;
    margin: 0;
  }
}

.navigation {
  padding: 16px;
  gap: 12px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-tag {
    font-family: "Inter Tight";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #a3a3a3;
  }

  &-dropdown {
    border: none;
    background: none;
  }

  &-node {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;

    &:hover {
      background: #fff;
    }

    &-text {
      text-decoration: none;
      color: #222222;
      font-family: "Inter Tight";
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      vertical-align: middle;
    }

    &-opened {
      transform: rotateX(180deg);
    }
  }

  .opened {
    transform: rotateY(180deg);
  }

  .open {
    animation:
      expand 0.4s ease-in-out,
      fadeIn 0.3s ease-in-out 0.1s;
  }

  .close {
    animation:
      fadeOut 0.2s ease-in forwards,
      collapse 0.2s ease-in-out 0.2s forwards;
    pointer-events: none;
    z-index: -20;
  }
}

.about {
  position: fixed;
  bottom: 10%;
  padding-left: 16px;
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: max-content;
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    height: fit-content;
  }
  to {
    height: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes sidebarExpand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes sidebarCollapse {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
